################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

./.vs/
./PBL3/.vs/
./PBL3/bin/
./PBL3/obj/
./PBL3/appsetting.json