################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PBL3Final/v17
/.vs/PBL3Final/FileContentIndex