<div class = "text-center mt-5">
	<h1>Bạn đã tạo tài khoản thành công, hãy đăng nhập để tiếp tục</h1>
	<a class="btn btn-outline-secondary ms-5" asp-controller="Account" asp-action="Login">Cancel</a>
</div>