@model IEnumerable<PBL3.Models.Entities.Notificate>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark text-dark">
        <tr>
            <th>
                Ngày gửi
            </th>
            <th>
                Nội dung
            </th>
            <th>
                Đã đọc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateRead)
            </td>
            <td>
                <a style="color: red" asp-controller="Notificates" asp-action="Delete" asp-route-id="@item.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
