@{
    //Chi tiết đơn mượn => gồm 1 BookRental và 
    // 1 list<Title>, kèm theo một số lượng Books thuộc các Title đó mà StateRent = false
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div>
    <h4>BookRental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mã đơn mượn:
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.BookRent.Id
        </dd>
        <dt class = "col-sm-2">
            Tài khoản gửi đơn:
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.BookRent.AccSending
        </dd>
        @if (ViewBag.BookRent.StateApprove == true)
        {
            <dt class="col-sm-2">
                Tài khoản phê duyệt:
            </dt>
            <dd class="col-sm-10">
                @ViewBag.BookRent.AccApprove
            </dd>
        }
    </dl>
</div>
@if (ViewBag.Status == "Pending")
{
    //nút phê duyệt & không phê duyệt
    //hiện số lượng còn lại của mỗi đầu sách trong đơn
    //nếu phê duyệt => trả về một thông báo: các sách 
    //có thể mượn và các sách không thể mượn
}
else if (ViewBag.Status == "WaitingTake")
{
    //nút xác nhận độc giả đến lấy đơn
    //những đơn ở trạng thái này tự động kết thúc sau 3 ngày không lấy
    //thuộc tính CountDown
}
else if (ViewBag.Status == "WaitingReturn")
{
    //nút xác nhận đóng đơn
    //hiện trạng thái đã trả/chưa trả và hạn trả của các sách trong đơn
    //mỗi dòng nếu chưa trả thì có nút trả
    //khi tất cả các sách đã trả mới có thể đóng đơn
}

