@model IEnumerable<PBL3.Models.Entities.NewsFeed>
@{
    ViewData["Title"] = "Home Page";
}
</hr>
<div class="text-center">
    <h2 class="display-4">QUẢN LÝ THƯ VIỆN TRƯỜNG ĐẠI HỌC</h2>
</div>
</hr>
</br>

<table class="table">
    <thead>
        <tr>
            <th>
                Trang @ViewBag.CurrentPage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var html = Markdig.Markdown.ToHtml(item.Content);
                <tr>
                <div class = "card md-4">

                <div class = "row">
                    <div class = "col-md-10 ms-4 mt-4">
                        @Html.Raw(html)
                    </div>
                </div>
                </div>
                <hr>
            </tr>
        }
    </tbody>
</table>
<!--Page-->
@Html.Partial("Paging")