@using PBL3.Models.Entities;
@model PBL3.Models.Entities.Title

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="text-uppercase p-2 text-center">Sửa thông tin đầu sách</h3>
            </div>
            <div class="card-body">
                <div>
                    <form asp-action="Edit">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="IdTitle" />
                        <div class="form-group">
                            <label asp-for="NameBook" class="control-label">Tên đầu sách:</label>
                            <input asp-for="NameBook" class="form-control" />
                            <span asp-validation-for="NameBook" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameWriter" class="control-label">Tên tác giả:</label>
                            <input asp-for="NameWriter" class="form-control" />
                            <span asp-validation-for="NameWriter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReleaseYear" class="control-label">Năm xuất bản:</label>
                            <input asp-for="ReleaseYear" class="form-control" />
                            <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Publisher" class="control-label">Nhà xuất bản:</label>
                            <input asp-for="Publisher" class="form-control" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameBookshelf" class="control-label">Mã kệ sách:</label>
                            <input asp-for="NameBookshelf" class="form-control" />
                            <span asp-validation-for="NameBookshelf" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdCategory" class="control-label">Thể loại sách:</label>
                            <select asp-for="IdCategory" class="form-control">
                                <option value="null">Không chọn</option>
                                @foreach (Category t in ViewBag.Categories)
                                {
                                    <option value="@t.Id">@t.NameCategory</option>
                                }
                            </select>
                            <span asp-validation-for="NameBookshelf" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" style="width:150px;" />
                        </div>
                    </form>
                </div>
                <div class="text-center">
                    <a asp-action="Index" class="btn btn-light text-center" style="width:150px">
                        <i class="fas fa-arrow-left fa-fw"></i>
                        Quay lại
                    </a>
                </div>
            </div>
        </div>     
    </div>
    <div class="col-lg-4"></div>
</div>
