@{
    Layout = null;
}
  <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Trang bạn đang tìm kiếm không tồn tại</p>
                <p class="lead">
                    Có vẻ như trang này đã bị xóa. Nếu bạn có phản hồi, hãy liên hệ với admin.
                  </p>
                <a href="/" class="btn btn-primary">Về trang chủ</a>
            </div>
        </div>
    </body>